.box-layout{
  align-items: center;
  display: flex;
  height: 100vh; //width correlates with the viewport height
  width: 100vw; //width correlates with the viewport width
  justify-content: center;
}

.box-layout__box{
  background: fade-out($light-greyish-blue, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
  color: white;
}

.box-layout__title{
  margin: 0 0 $m-size 0;
  line-height: 1;
}
