.dashboard {
  // width: 30%;
  // height: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.dashboard__subscribed-cards{
  width: 20%;
  margin: 1.66%;
  height: 10%;
}


.dashboard__link{
  border-top: none;
  color: $dark-grey;
  text-decoration: none;
  &:hover{
    background: inherit;
    color:inherit;
  }
  width: 30%;
  margin: 1.66%;
}
