.image-inputs{
  margin-top: $m-size;
}

.image-input-div{
  background: inherit;
  margin-top: $m-size;
}


.image-input{
  border: 1px solid #cacccd;
  background: white;
  border: none;
}

.time-input{
  width: 21.3rem;
  background: white;
}

.react-time-picker__wrapper {
  border: none;
}

.text-input{
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-l-size;
  font-weight: 300;
  padding: $s-size;
}

.event-input{
  @extend .text-input;
  margin-bottom: $m-size;
}

.text-input--alt{
  width: 300px;
}

.select{
  @extend .text-input;
}
