.ReactModal__Overlay {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.update-details-modal {
  background: $light-blue;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
  border-radius: 10px;
}

.update-details-modal__title{
  margin: 0 0 $m-size 0;
}

.update-details-modal__body{
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 $l-size 0;
  word-break: break-all;
}
