// Colors
$off-white: #f7f7f7;
$med-grey: #888;
$dark-grey: #333;
$grey: #666;
$dark-orange: #cb5c42;
$fluorescent-orange: #ff4528;
$faded-orange: #f0a678;
$greenish-blue: #006064;
$blue: #0097A7;
$light-blue: #464b5e;
$very-light-blue: #E0F7FA;
$very-light-purple: #e771e8;
$light-purple: #ea28ed;
$purple: #b016a7;
$dark-purple: #72145b;
$very-dark-purple: #460f3b;
$off-purple: #a5afd7;

$light-greyish-blue: rgb(74,91,107);
$greyish-blue: rgb(56,81,104);

// Font size
$font-l-size: 1.8rem;
$font-s-size: 1.4rem;

// Spacing
$xs-size: 0.4rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
